<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vincent.loadfilelibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:screenOrientation="portrait"
        >

        <activity android:name=".engine.x5.activity.X5FileLoaderActivity"/>

        <activity android:name=".engine.pdf.PdfPreviewActivity"/>

        <activity android:name=".engine.image.activity.ImageBrowserActivity"/>

        <activity android:name=".engine.zip.activity.ZipPreviewActivity"
            android:launchMode="standard"/>
    </application>



</manifest>
